<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="password.css">
        <title>Felicitaciones</title>
    </head>
    <body>
        <div class="App">
            <form id="felicitaciones" class="backlogin h-100vh w-100">
                <div class="login-form">
                    <div class="login-title" >
                        <img class="brand-logo" src="assets/brand-logo.png" alt="brand-logo" ></img>
                    </div>
                    <h2>¡Felicitaciones!</h2>
                    <div class="congrats-text" >
                        <p>Su contraseña ha sido cambiada correctamente.</p>
                        <!-- <div class="div-button" >
                            <button  class=" theme-button">
                                Continuar
                            </button>
                        </div> -->
                    </div>
                </div>
            </form>
        </div>
        <script src="resetpassword.js"></script>
    </body>
</html>