<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="password.css">
        <title>Recuperar contraseña</title>
    </head>
    <body>
        <div class="App">
            <form id="resetpassword" class="backlogin h-100vh w-100">
                <div class="login-form">
                    <div class="login-title" >
                        <img class="brand-logo" src="assets/brand-logo.png" alt="brand-logo" ></img>
                    </div>
                    <div id="reset-form" >
                        <div class="theme-input mx-auto">
                            <input type="password" name="password" class='theme-input-box' placeholder="Ingrese una nueva contraseña" autoComplete='off' />
                        </div>
                        <div class="theme-input mx-auto">
                            <input type="password" name="confirm-password" class='theme-input-box' placeholder="Confirme su nueva contraseña" autoComplete='off' />
                        </div>
                        <div class="div-button" >
                            <button id="confirmar" class=" theme-button">
                                Confirmar
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <script src="resetpassword.js"></script>
    </body>
</html>